<div class="container-fluid">
  <div class="row">
    <div class="col-12 no-pad-lr">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><b>3M </b><i>Innovations</i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Innovation Stories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Technology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connect with <b>3M</b></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col-12 no-pad-lr">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="http://hdqwalls.com/wallpapers/baby-groot-4k-2018-96.jpg" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://images5.alphacoders.com/958/958580.jpg" alt="Second slide">
          </div>
          <!-- <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
          </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="bigitems">
        <h3>Tier 1 Story Headline</h3>
        <video class="f-width" controls>
          <source src="https://youtu.be/y83x7MgzWOA" type="video/mp4">
          <source src="https://youtu.be/y83x7MgzWOA" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
        <p>Lorem ipsum dolor sit amet,<br /> pellentesque eu, pretium quis, sem.</p>
        <button type="button" class="btn btn-primary">View Full Story</button>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-6">
          <img
            src="https://www.setaswall.com/wp-content/uploads/2017/03/Abstract-Colors-4K-Wallpaper-3840x2160-768x432.jpg"
            alt="Smiley face" class="responsive">
        </div>
        <div class="col-6">
          <h3>Tier 2 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-12">
          <h3>Tier 3 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 my-3">
      <div class="row">
        <div class="col-12">
          <h3>Tier 3 Story</h3>
          <p>Lorem ipsum dolor sit amet, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
      <div class="row">
        <div class="col mt-3 mt-lg-0">
          <button type="button" class="btn btn-primary">View Full Story</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer font-small blue">

  <div class="footer-copyright text-center py-3">3M©2012 Copyright:
    <a href="#"> 3M Innovation</a>
  </div>

</footer>
